{{ template "chrome/header.html" . }}
{{ template "chrome/menu.html" . }}

<div class="container top">
    <h1>Blog</h1>
    <p>You'll find the most recent articles listed first.</p>
    <hr>
</div>

<!-- Main Content -->
<div class="container">
    {{range first 10 .Data.Pages}}
    <div class="post-preview">
        <h2>{{ .Title }}</h2>
        <h4>{{ .Description }}</h4>
        <h5>
          {{ .Date.Format "Monday Jan 2, 2006" }}
          &mdash;
          {{ .ReadingTime }} minute read
          &mdash;
          {{ .WordCount }} words
        </h5>
        <p>
          {{ .Summary }}
        </p>
        <p class="text-center">
          <a class="button" href="{{.RelPermalink}}">Read More</a>
        </p>

    </div>
    <hr>
    {{end}}
</div>

{{ template "chrome/footer.html" . }}
