{{ template "chrome/header.html" . }}
{{ template "chrome/menu.html" . }}

<div class="container top">
    <div class="post-heading">
        <h4>All pages in the {{ .Title }} category</h4>
    </div>
    <hr>
</div>

<div class="container">
    {{ range .Data.Pages }}
    <div class="post-preview">
        <h2 class="post-title">
            {{ .Title }}
        </h2>
        <h4 class="post-subtitle">
            {{ .Description }}
        </h4>
        <h6>
          {{ .Date.Format "Monday Jan 2, 2006" }}
          &mdash;
          {{ .ReadingTime }} minute read
          &mdash;
          {{ .WordCount }} words
        </h6>
        <p>
          {{ .Summary }}
        </p>
        <p class="text-center">
          <a class="button" href="{{.RelPermalink}}">Read More</a>
        </p>

    </div>
    <hr>
    {{ end }}
</div>

{{ template "chrome/footer.html" . }}
