{{ template "chrome/header.html" . }}
{{ template "chrome/menu.html" . }}

<div class="container top">
    <h1>Website Planning</h1>
    <p>
      Building a website can be overwhelming, especially for a small business.
      This is a series of articles to assist in the preparation &amp; planning
      phases. <a href="{{ .RSSLink }}">Subscribe via RSS</a> to get updates as
      soon as new parts come out. The series includes (or will include) the
      following:
    </p>
</div>
<div class="container">
    <h5>Part One</h5>
    <ul>
      <li>Why planning is important</li>
      <li>Why it's important to set goals and know your audience;</li>
      <li>An overview of various roles which contribute to a complete site;</li>
    </ul>
    <a class="button" href="/planning/website-planning-part-1">Read Part One</a>
</div>
<div class="callout left">
  <div class="container">
    <h2>Need some assistance?</h2>
    <p>
      Need a website but finding getting started is a challenge? Feel free
      to drop me a line via <a href="mailto:brad@bradb.net">email</a>,
      <a href="https://twitter.com/@berger_brad">Twitter</a>,
      <a href="https://plus.google.com/100586062360183338245">Google+</a>
      or <a href="tel:+12016760004">phone</a> to discuss your
      needs. I'd be happy to share experience gathered from working with a
      large range of clients from sole-proprietorships to large government
      agenices.
    </p>
  </div>
</div>
<div class="container">
    <h5>Future Articles in the Series</h5>
    <ul>
      <li>What each person in the various roles do, and how to work with them.</li>
      <li>How the design process works.</li>
      <li>How to create great content that users can find.</li>
      <li>Using photos, videos, and documents to appeal to your users.</li>
      <li>Where to host your website.</li>
    <hr>
</div>

{{ template "chrome/footer.html" . }}
