{{ template "chrome/header.html" . }}
{{ template "chrome/menu.html" . }}

<header>
    <div class="header-inner">
        <div class="container">
            <div class="post-heading">
                <h1>{{ .Title }}</h1>
                <h5>{{ .Description }}</h5>
                <hr>
                <div class="post-meta">
                  <p>
                    {{ .Date.Format "Monday Jan 2, 2006" }} in
                    {{ range .Params.categories }}
                        <a href="/categories/{{ . }}" class="capitalize">{{ . }}</a>,
                    {{ end }}
                    <span>
                        {{ .ReadingTime }} minute read, ~{{ .WordCount }} words
                    </span>
                  </p>
                  <p>
                    Tagged with:
                    {{ range .Params.tags }}
                        <a href="/tags/{{ . }}" class="label">{{ . }}</a>
                    {{ end }}
                  </p>
                    <p>
                        Share via...<br>
                        <a href="https://twitter.com?status={{ .Title | urlize }}%20by%20@{{ .Site.Params.TwitterUser }}%20{{ .Permalink | urlize }}">Twitter</a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | urlize }}">Facebook</a>
                        <a href="https://plus.google.com/share?url={{ .Permalink  | urlize }}">Google+</a>
                        <a href="https://www.linkedin.com/shareArticle?url={{ .Permalink  | urlize }}&title={{ .Title }}&summary={{ .Description }}">LinkedIn</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
  <div class="container">
    <div class="post-toc">
      <h3>Table of Contents</h3>
      {{ .TableOfContents }}
    </div>
    <div>
        {{ .Content }}
    </div>
    <div class="post-share">
        <span>Share:</span>
        <a href="https://twitter.com?status={{ .Title | urlize }}%20by%20@{{ .Site.Params.TwitterUser }}%20{{ .Permalink | urlize }}">Twitter</a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | urlize }}">Facebook</a>
        <a href="https://plus.google.com/share?url={{ .Permalink  | urlize }}">Google+</a>
        <a href="https://www.linkedin.com/shareArticle?url={{ .Permalink  | urlize }}&title={{ .Title }}&summary={{ .Description }}">LinkedIn</a>
    </div>
  </div>
</article>

<section class="comments">
  <div class="container">
    {{ template "_internal/disqus.html" . }}
  </div>
</section>


{{ template "chrome/footer.html" . }}
