<!-- Footer -->
<footer>
    <div class="container">
        <div class="content-list">
            <h3>Content by category and tag</h3>
            <p>
                <strong>Categories:</strong>
                {{ range $key, $value := .Site.Taxonomies.categories.ByCount }}
                <a href="/categories/{{ $value.Name }}">
                    {{ $value.Name }} ({{ $value.Count }})
                </a>
                {{ end }}
            </p>
            <p>
                <strong>Tags:</strong>
                {{ range $key, $value := .Site.Taxonomies.tags.ByCount }}
                <a href="/tags/{{ $value.Name }}">
                    {{ $value.Name }}
                    <small>({{ $value.Count }})</small>
                </a>
                {{ end }}
            </p>
        </div>
        <div class="row">
            <ul class="list-inline text-center">
                {{ if .Site.Params.TwitterUser }}<li><a href="https://twitter.com/{{ .Site.Params.TwitterUser }}">Twitter</a></li>{{ end }}
                {{ if .Site.Params.GitHubUser }}<li><a href="https://github.com/{{ .Site.Params.GitHubUser }}">GitHub</a></li>{{ end }}
                {{ if .Site.Params.PublicEmail }}<li><a href="mailto:{{ .Site.Params.PublicEmail }}">Email</a></li>{{ end }}
                {{ if .Site.Params.LinkedInUser }}<li><a href="https://linkedin.com/in/{{ .Site.Params.LinkedInUser }}">LinkedIn</a></li>{{ end }}
                <li><a href="https://plus.google.com/100586062360183338245">Google+</a></li>
                {{ if .RSSLink }}<li><a href="{{ .RSSLink }}">RSS</a></li>{{ end }}
                <li><a href="https://coinbase.com/bradberger">Coinbase</a></li>
            </ul>
        </div>

        <p class="copyright margin-top">
            <a rel="license" class="h3" href="//creativecommons.org/licenses/by/4.0/">Creative Commons 4.0</a>
        </p>
    </div>
</footer>
