<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Description }}">
    <meta name="author" content="Brad Berger">
    <title>{{ .Site.Title }} - {{ .Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura|Arvo:700|Josefin+Slab:700">
    {{ template "chrome/above.html" . }}
    {{ if .RSSLink }}<link rel="alternate" href="{{ .RSSlink }}" type="application/rss+xml" title="{{ .Site.Title }}">{{ end }}
</head>
<body>
