<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Recent Posts</h3>
    </div>
    <div class="list-group">
        {{range first 5 .Site.Recent}}
        <a class="list-group-item" href="{{.RelPermalink}}">
            {{.Title}}
            <br>
            <small class="muted">
                {{ .Date.Format "Monday Jan 2, 2006" }}
                <span class="spacer-left">
                    {{ .ReadingTime }} minute read, ~{{ .FuzzyWordCount }} words
                </span>
            </small>
        </a>
        {{end}}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Categories</h3>
    </div>
    <div class="list-group list-categories">
        {{ range $key, $value := .Site.Taxonomies.categories.ByCount }}
        <a class="list-group-item" href="/categories/{{ $value.Name }}">
            <span class="badge">{{ $value.Count }}</span>
            {{ $value.Name }}
        </a>
        {{ end }}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Tags</h3>
    </div>
    <div class="panel-body">
        <section class="tag-menu">
            {{ range $key, $value := .Site.Taxonomies.tags.ByCount }}
            <a class="badge" href="/tags/{{ $value.Name }}">
                {{ $value.Name }} - {{ $value.Count }}
            </a>
            {{ end }}
        </section>
    </div>
</div>