{{ template "chrome/header.html" . }}
{{ template "chrome/menu.html" . }}

<header>
    <div class="header-inner">
        <div class="container">
            <div class="site-heading">
                <h1>{{ .Title }}</h1>
                <hr class="small">
                <h5 class="post-subtitle">
                    Sorry, this page doesn't exist.
                </h5>
                <hr>
                <a class="button" href="/">Go to the home page</a>
            </div>
        </div>
    </div>
</header>
