{{ template "chrome/header.html" . }}
{{ template "chrome/menu.html" . }}

<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{ .Site.Title }}</h1>
                    <hr class="small">
                    <span class="subheading hidden-xs">{{ .Site.Params.Subtitle }}</span>
                    <hr class="small hidden-xs">
                    <ul class="list-inline text-center margin-top">
                        {{ if .Site.Params.TwitterUser }}
                        <li>
                            <a href="https://twitter.com/{{ .Site.Params.TwitterUser }}">
                                <i class="fa fa-twitter fa-lg spacer-left"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ if .Site.Params.GitHubUser }}
                        <li>
                            <a href="https://github.com/{{ .Site.Params.GitHubUser }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-github fa-lg spacer-left"></i>
                            </span>
                            </a>
                        </li>
                        {{ end }}
                        {{ if .Site.Params.PublicEmail }}
                        <li>
                            <a href="mailto:{{ .Site.Params.PublicEmail }}">
                                <i class="fa fa-send fa-lg spacer-left"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ if .Site.Params.LinkedInUser }}
                        <li>
                            <a href="https://linkedin.com/in/{{ .Site.Params.LinkedInUser }}">
                                <i class="fa fa-linkedin fa-lg spacer-left"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ if .RSSLink }}
                        <li>
                            <a href="{{ .RSSLink }}">
                                <i class="fa fa-rss fa-lg spacer-left"></i>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{range first 10 .Site.Recent}}
            <div class="post-preview">
                <a href="{{.RelPermalink}}">
                    <h2 class="post-title">
                        {{ .Title }}
                    </h2>
                    <h4 class="post-subtitle">
                        {{ .Description }}
                    </h4>
                </a>
                <p class="post-meta">
                    <small class="text-muted">
                        {{ .Date.Format "Monday Jan 2, 2006" }}
                        <span class="spacer-left">
                            {{ .ReadingTime }} minute read, {{ .WordCount }} words
                        </span>
                    </small>
                </p>
            </div>
            <hr>
            {{end}}
        </div>
    </div>
</div>

{{ template "chrome/footer.html" . }}

