{{ template "chrome/header.html" . }}
{{ template "chrome/menu.html" . }}

<header>
    <div>
        <div class="container">
            <div class="site-heading">
                <img src="/img/logo.svg" class="spash-logo" height="128" width="128">
                <h1 class="brand">{{ .Site.Title }}</h1>
                <h4>{{ .Site.Params.Subtitle }}</h4>
                <p>
                  This is where I write about web development and DevOps
                  related things. To get in contact with me, use one of the
                  links below.
                </p>
                <ul>
                    {{ if .Site.Params.TwitterUser }}
                    <li>
                        <a href="https://twitter.com/{{ .Site.Params.TwitterUser }}">Twitter</a>
                    </li>
                    {{ end }}
                    {{ if .Site.Params.GitHubUser }}
                    <li>
                        <a href="https://github.com/{{ .Site.Params.GitHubUser }}">
                          GitHub
                        </a>
                    </li>
                    {{ end }}
                    {{ if .Site.Params.PublicEmail }}
                    <li>
                        <a href="mailto:{{ .Site.Params.PublicEmail }}">
                          Email
                        </a>
                    </li>
                    {{ end }}
                    {{ if .Site.Params.LinkedInUser }}
                    <li>
                        <a href="https://linkedin.com/in/{{ .Site.Params.LinkedInUser }}">
                            LinkedIn
                        </a>
                    </li>
                    {{ end }}
                    {{ if .RSSLink }}
                    <li>
                        <a href="{{ .RSSLink }}">
                            RSS
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</header>
